<mat-card *ngIf="orderTicket">
    <div>
        <mat-card-title>{{orderTicket.ticker}} {{orderTicket.type}} order ticket</mat-card-title>
    </div>
    <mat-card-content>
        <div>
            <div>
                <app-price-tick-currency
                    label="Trigger Price" 
                    [step]=".01"
                    [price]="orderTicket2.trigger"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Entry Price" 
                    [step]=".01"
                    [price]="orderTicket2.entryPrice"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Cancel Price" 
                    [step]=".01"
                    [price]="orderTicket2.orderTicketPrice.cancelOrder"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Quantity" 
                    (change)="onQuantityChange($event)"
                    [price]="orderTicket2.quantity"></app-price-tick-currency>
            </div>
            <div>
                <mat-form-field class="atm-strategy-contianer">
                    <mat-label>ATM Strategy</mat-label>
                    <mat-select [(value)]="selectedATMStrategy" (selectionChange)="getATMCalculation()">
                        <mat-option *ngFor="let atmStragegy of atmStragegyList" [value]="atmStragegy">
                        {{atmStragegy.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="stop-loss-take-profit-container">
                    <div>
                        <app-price-tick-currency *ngFor="let stopLoss of orderTicket2.orderTicketPrice.stopLoss; let i = index" 
                            label="Stop Loss {{i+1}}" 
                            [price]="stopLoss"
                            [step]=".1"
                            [entry]="orderTicket2.entry"
                            [type]="orderTicket2.type"
                            [ticker]="orderTicket2.ticker"></app-price-tick-currency>
                    </div>
                    <div>
                        <app-price-tick-currency *ngFor="let takeProfit of orderTicket2.orderTicketPrice.takeProfit; let i = index" 
                            label="Take Profit {{i+1}}" 
                            [price]="takeProfit"
                            [step]=".1"
                            [entry]="orderTicket2.entry"
                            [type]="orderTicket2.type"
                            [ticker]="orderTicket.ticker"></app-price-tick-currency>
                    </div>
                </div>              
            </div>
        </div>
        <div style="display:flex;justify-content: flex-end;">
            <div style="flex: 1 1 auto;display:flex;flex-direction:column;">
                <div *ngIf="orderTicket2.missingStopLossCount" class="stop-loss-take-profit-message-container stop-loss-warning-message">
                    WARNING!! Missing S/L on {{orderTicket2.missingStopLossCount}} contracts
                </div>
                <div *ngIf="orderTicket2.missingTakeProfitCount" class="stop-loss-take-profit-message-container take-profilt-warning-message">
                    Missing T/P on {{orderTicket2.missingTakeProfitCount}} contracts
                </div>
            </div>
            <div style="justify-content: flex-end;">
                <button (click)="resetTicket()" mat-raised-button>Reset</button>
                <button (click)="submitTicket()" mat-raised-button>Submit</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>