<!-- <div style="display:flex;flex-direction:column;width:100%;margin-left:20px;">
    <div style="display:flex;flex-direction:row;width:100%">
        <div style="width:45%;margin-right:6px;">
            <div [ngSwitch]="activeView">
                <app-pivot-view *ngSwitchCase="'pivot-view'"></app-pivot-view>
                <div *ngSwitchCase="'none'">
                    HEllo
                </div>
             </div>
        </div>
        <div style="width:45%">  
            <div [ngSwitch]="activeView">
                <app-ticket *ngSwitchCase="'pivot-view'"></app-ticket>
                <div *ngSwitchCase="'none'">
                    Side bar
                </div>
             </div>
        </div>
    </div>
</div>

<div (click)="activeView = 'pivot-view'">Show Pivots</div>
<div (click)="activeView = 'one'">Default</div> -->