table {
    width: 100%;
}
.pivot-table th {
    color: #ababab;
    font-weight: normal;
    width: 15%;
}

.pivot-table td {
    text-align: center;
    width: 15%;
}

.pivotCalculationName {
    font-variant: small-caps;
}