<div class="price-tick-currency-container">
    <div class="price-tick-currency-input-container">
        <mat-form-field>
            <mat-label>{{label}}</mat-label>
            <input matInput 
                (change)="onInputChange()" 
                [step]="step"
                type="number" 
                [(ngModel)]="price" 
                [ngClass]="{'price-tick-input': showTicks}">
        </mat-form-field>
    </div>
    <div *ngIf="showTicks" class="price-tick-currency-details-container">
        <mat-label class="price-tick-currency-details-ticks">{{ticks}} ticks</mat-label>
        <mat-label>{{futuresValueService.ticksToDollars(ticker, ticks) | currency}}</mat-label>
    </div>
</div>