<div class="price-tick-currency-container">
    <div class="price-tick-currency-input-container">
        <mat-form-field>
            <mat-label>{{label}}</mat-label>
            <form [formGroup]="priceTickCurrencyFormGroup">
            <input #input matInput 
                type="text"
                (keydown)="onKeyDown($event)"
                [step]="step"
                [id]="controlId"
                formControlName="inputValue" 
                [ngClass]="{'price-tick-input': showTicks}">
            </form>
        </mat-form-field>
    </div>
    <div *ngIf="showTicks" class="price-tick-currency-details-container" [ngStyle]="{'color': (ticks < 0) ? 'red' : 'green'}">
        <mat-label class="price-tick-currency-details-ticks">{{ticks}} ticks {{_diff}}</mat-label>
        <mat-label>{{futuresValueService.ticksToDollars(ticker, ticks) | currency}}</mat-label>
    </div>
</div>
<div style="font-size:10px;color:maroon;position:relative;top:-15px;min-height: 20px;">
    {{errorMessage}}
</div>