
<mat-card *ngIf="orderTicket">
    <div>
        <mat-card-title>{{orderTicket.ticker}} {{orderTicket.type}} order ticket</mat-card-title>
    </div>
    <mat-card-content>
        <div>
            <div>
                <app-price-tick-currency
                    label="Trigger Price" 
                    [step]=".01"
                    [price]="orderTicket.trigger"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Entry Price" 
                    [step]=".01"
                    [price]="atmCalculation.entryPrice"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Cancel Price" 
                    [step]=".01"
                    [price]="atmCalculation.cancelOrderPrice"></app-price-tick-currency>
                <app-price-tick-currency
                    label="Quantity" 
                    [price]="selectedATMStrategy.quantity"></app-price-tick-currency>
            </div>
            <div>
                <mat-form-field class="atm-strategy-contianer">
                    <mat-label>ATM Strategy</mat-label>
                    <mat-select [(value)]="selectedATMStrategy" (selectionChange)="getATMCalculation()">
                        <mat-option *ngFor="let atmStragegy of atmStragegyList" [value]="atmStragegy">
                        {{atmStragegy.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="stop-loss-take-profit-container">
                    <div>
                        <app-price-tick-currency *ngFor="let x of atmCalculation.stopLossPrice; let i = index" 
                            label="Stop Loss {{i+1}}" 
                            [price]="atmCalculation.stopLossPrice[i]"
                            [step]=".01"
                            [ticks]="selectedATMStrategy.stopLoss[i]"
                            [ticker]="orderTicket.ticker"></app-price-tick-currency>
                        <div *ngIf="selectedATMStrategy.missingStopLoss">missing sl</div>
                    </div>
                    <div>
                        <app-price-tick-currency *ngFor="let x of atmCalculation.takeProfitPrice; let i = index" 
                            label="Take Profit {{i+1}}" 
                            [price]="atmCalculation.takeProfitPrice[i]"
                            [step]=".01"
                            [ticks]="selectedATMStrategy.takeProfit[i]"
                            [ticker]="orderTicket.ticker"></app-price-tick-currency>
                        <div *ngIf="selectedATMStrategy.missingTakeProfit">missing tp</div>
                    </div>
                </div>              
            </div>
        </div>
    </mat-card-content>
</mat-card>