<div class="container" [matMenuTriggerFor]="menu">
    <mat-menu #menu>
        <button (click)="issueTradeTicket('buy')" mat-menu-item class="pivot-order-item-buy">
            <span class="pivot-order-item">buy {{pivotPointName}}</span> {{pivotName}}</button>
        <button (click)="issueTradeTicket('sell')" mat-menu-item class="pivot-order-item-sell">
            <span class="pivot-order-item">sell {{pivotPointName}}</span> {{pivotName}}</button>
        <button (click)="issueTradeTicket('reverse')" mat-menu-item>
            <span class="pivot-order-item">reverse order</span></button>
        <button (click)="issueTradeTicket('cancel')" mat-menu-item>
            <span class="pivot-order-item">cancel order</span></button>
    </mat-menu>
    <div>{{pivotValue | number:'1.2-2' | formatNumberNoComma}}</div>
    <ng-container [ngSwitch]="liveMarketData">
        <ng-container *ngSwitchCase="true">
            <div style="color:green;font-size:10px">43.25</div>
        </ng-container>
    </ng-container>
</div>         