<ng-container [ngSwitch]="displayStyle">
    <ng-container *ngSwitchCase="'details'">
        <div style="display:flex;flex-direction:column">
            <div style="margin-bottom:10px" *ngFor="let orderTicket of orderService.orderTickets">                
                <app-ticket-header [orderTicket]="orderTicket"></app-ticket-header>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'summary'">
        <div style="display:flex;flex-direction:column;font-size:10px;">
            <div>{{orderService.orderTickets.length}} Ready Orders</div>
            <div>{{orderService.orderTickets.length}} Submitted Orders</div>
            <div>{{orderService.orderTickets.length}} Executed Orders</div>
        </div>
    </ng-container>
</ng-container>